
@keyframes spinBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon {
  display: inline-block;
  line-height: 0;
}

.basket path {
  transition: stroke 0.3s ease;
}

.person path {
  transition: stroke 0.3s ease;
}

.arrow path {
  transition: stroke 0.3s ease;
}

.loader {
  animation: spin 1.5s linear infinite;
}

.loader_border {
  position: absolute;
}

.loader_border_first {
  inset: 0;
  animation: spin 1.8s linear infinite;
}

.loader_border_second {
  inset: 10px;
  transform: rotate(20deg);
  animation: spinBack 1.2s linear infinite;
}

.loader_border_third {
  inset: 20px;
  transform: rotate(20deg);
  animation: spin 1s linear infinite;
}

.star {
  & polygon {
    transition: fill 0.3s ease;
  }
}