@use "@/styles/variables.scss" as *;

.filter {
  position: relative;
  outline: 1px solid var(--color-input-border);
  width: 300px;
  height: 52px;
  background: var(--color-input-bg);
  transition: outline 0.3s ease, background 0.3s ease;

  &_active {
    outline: 1px solid var(--color-input-border-active);

    .title {
      color: var(--color-input-border-active);
    }
  }
}

.button {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 12px;
}

.title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-input-placeholder);
  transition: color 0.3s ease;
}

.icon {
  position: relative;
  width: 24px;
  height: 24px;

  &::after, &::before {
    content: "";
    position: absolute;
    top: 10px;
    width: 14px;
    height: 1px;
    background: var(--color-input-border);
    transition: transform 0.3s ease, background 0.3s ease;
  }

  &::after {
    left: 0;
    transform: rotate(45deg);
  }

  &::before {
    right: 0;
    transform: rotate(-45deg);
  }

  &_active {
    &::after {
      transform: rotate(-45deg);
      background: var(--color-input-border-active);
    }

    &::before {
      transform: rotate(45deg);
      background: var(--color-input-border-active);
    }
  }
}

.main {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;

  &_active {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 521px) {
  .filter {
    width: 100%;
    margin-bottom: 24px;
  }
}