@use '@/styles/variables' as *;

.input {
  padding: 16px 12px;
  width: 100%;
  outline: 1px solid var(--color-input-border);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-input-text);
  background: var(--color-input-bg);
  transition: outline 0.3s ease, background 0.3s ease, color 0.3s ease;

  &::placeholder {
    color: var(--color-input-placeholder);
    transition: color 0.3s ease;
  }

  &:focus-visible {
    outline: 1px solid var(--color-input-border-active);
  }
}