@import "../../styles/_variables.scss";

.header {
  position: relative;
  background: $color-white;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 30px;
}

// .logo {
  
// }

// .nav {

// }

.list {
  display: flex;
  align-items: center;
}

.actions {
  display: flex;
  align-items: center;
}

.basket, .person {

  &:hover path {
    stroke: $color-brand-hover;
  }

  &:active path {
    stroke: $color-brand-active;
  }
}

.basket {
  margin-right: 24px;
}

.line {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2px;
  background: $color-gray-lighting;
}

.line__active {
  position: absolute;
  top: 0;
  // left: 0;
  width: 80px;
  bottom: 0;
  background: $color-brand;
  transition: left 0.3s ease, width 0.3s ease;
}