@import "../../../../../styles/variables";

.input {
  padding: 16px 12px;
  width: 100%;
  outline: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $color-text-input;
  background: $color-bg-input;
  transition: outline 0.3s ease, background 0.3s ease;

  &::placeholder {
    color: $color-input-placeholder;
  }

  &:focus-visible {
    outline: $color-input-border;
  }
}