@use "@/styles/variables" as *;

.content {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  margin-right: 10px;
  font-weight: 400;
  font-size: 18px;
  color: $color-primary;

  transition: color 0.3s ease;

  &_low {
    color: $color-error;
  }

  &_medium {
    color: $color-medium;
  }

  &_high {
    color: $color-brand; 
  }
}

.level {
  outline: 1px solid $color-secondary;
  width: 20px;
  height: 10px;
  background: $color-input-placeholder;
  transition: background 0.3s ease, outline 0.3s ease;

  &_low {
    outline-color: $color-error;
    background: $color-error;
  }

  &_medium {
    outline-color: $color-medium;
    background: $color-medium;
  }

  &_high {
    outline-color: $color-brand;
    background: $color-brand; 
  }

  &:not(:last-child) {
    margin-right: 10px;
  }
}