@use "../../../../styles/variables" as *;

.main {
  padding-top: 60px;
}

.product__container {
  display: flex;
  flex-direction: column;

  &_loading {
    position: relative;
    height: 500px;
  }
}

.back {
  display: inline-flex;
  align-items: center;
  margin-bottom: 32px;
  width: max-content;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: $color-primary;
}

.product {
  display: flex;
  margin-bottom: 48px;
}

.slider {
  margin-right: 48px;
}

.info {
  display: flex;
  flex-direction: column;
  max-width: 653px;
}

.heading {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 44px;
  line-height: 48px;
  color: $color-primary;
}

.descr {
  margin-bottom: 56px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: $color-secondary;
}

.price {
  display: inline-block;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 44px;
  line-height: 48px;
  color: $color-primary;
}

.actions {
  display: flex;
}

.title {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: $color-primary;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // align-items: stretch;
  grid-auto-rows: 1fr;
  row-gap: 30px;
  column-gap: 80px;
}

.product__button {
  outline: 1px solid $color-input-placeholder;
  background: transparent;
  color: $color-primary;
  transition: color 0.3s ease, outline 0.3s ease, background 0.3s ease;

  &:hover {
    color: $color-white;
    outline: 1px solid $color-brand-hover;
  }

  &_now {
    margin-right: 48px;
  }
}

.img {
  width: 600px;
  height: 600px;
}

.related {
  margin-bottom: 30px;
}