$color-white: #ffffff;
$color-off-white: #FAFAFA;
$color-gray-lighting: #F3F3F3;
$color-gray-milk: #CEC0C0;
$color-primary: #000000;
$color-primary-light: #151411;
$color-black-light: #272424;
$color-black-lighting: #423F48;
$color-secondary: #AFADB5;

$color-brand: #518581;
$color-brand-hover: #86AAA7;
$color-brand-active: #487773;

$color-header-link: $color-primary;
$color-header-link-hover: $color-brand-hover;
$color-header-active: $color-brand;

$color-bg-input: #FFFFFF;
$color-text-input: #000000;
$color-input-placeholder: #AFADB5;
$color-input-border: $color-brand;

$color-button-bg: $color-brand;
$color-button-bg-hover: $color-brand-hover;
$color-button-bg-active: $color-brand-active;
$color-button-bg-disabled: #D9D9D9;
$color-button-text: #ffffff;

$color-card-bg: #FFFFFF;
$color-card-bg-skeleton: #D9D9D9;
$color-card-bg-skeleton-04: rgba(217, 217, 217, 0.4);

$color-error: #D60F0F;
$color-medium: #FFBB00;

$color-danger: #FD0000;
$color-danger-darknest: #AF0808;

$color-green: #1C877F;

// $color-heading-dark: #FFFFFF;
// $color-text-dark: #E5E5E5;
// $color-text-secondary-dark: #8A8A8F;
// // $color-text-secondary-dark: #6F6F76;
// $color-text-disabled-dark: #5A5A5A;

// $color-button-bg-dark:         $color-brand-dark;         // #66B2A9
// // box-shadow: 1px 4px 8px rgba(102, 178, 169, 0.2); // для кнопки в обычном состоянии
// $color-button-bg-hover-dark:   $color-brand-hover-dark;   // #8FD2CB 
// // box-shadow: 1px 4px 8px rgba(143, 210, 203, 0.2); // для hover
// $color-button-bg-active-dark:  $color-brand-active-dark;  // #4C9990
// // box-shadow: 1px 4px 8px rgba(76, 153, 144, 0.2); // для активной кнопки
// $color-button-text-dark:       #FFFFFF;
// $color-button-disabled-dark:   #3A3A3A;


// // Цвет фона инпута
// $color-bg-input-dark: #2A2A2A;

// // Цвет текста в инпуте
// $color-text-input-dark: #FFFFFF;

// // Цвет плейсхолдера
// $color-input-placeholder-dark: #8A8A8F;

// // Цвет границы инпута
// $color-input-border-dark: #4F4F4F;

// // Цвет границы инпута при фокусе
// $color-input-border-focus-dark: #66B2A9;

// // Цвет инпута с ошибкой
// $color-input-error-dark: #FD0000;


// // Выход
// $color-logout-bg-dark: rgba(253, 0, 0, 0.15);   // #FD000026
// $color-logout-text-dark: #FD0000;
// $color-logout-border-dark: #AF0808;

// // Редактировать
// $color-edit-bg-dark: rgba(255, 255, 255, 0.06);
// $color-edit-text-dark: #E5E5E5;
// $color-edit-border-dark: #3A3A3A;