$color-white: #ffffff;
$color-off-white: #FAFAFA;
$color-gray-lighting: #F3F3F3;
$color-primary: #000000;
$color-secondary: #AFADB5;

$color-brand: #518581;
$color-brand-hover: #86AAA7;
$color-brand-active: #487773;

$color-header-link: $color-primary;
$color-header-link-hover: $color-brand-hover;
$color-header-active: $color-brand;

$color-bg-input: #FFFFFF;
$color-text-input: #000000;
$color-input-placeholder: #AFADB5;
$color-input-border: $color-brand;

$color-button-bg: $color-brand;
$color-button-bg-hover: $color-brand-hover;
$color-button-bg-active: $color-brand-active;
$color-button-text: #ffffff;

$color-card-bg: #FFFFFF;
$color-card-bg-skeleton: #D9D9D9;
$color-card-bg-skeleton-04: rgba(217, 217, 217, 0.4);