@use "./normalize.global.scss" as *;
@use "./_mixins.scss" as *;
@use "./_fonts.scss" as *;
@use "./_reset.scss" as *;
@use "./_variables.scss" as *;

* {
  box-sizing: border-box;
}

html {
  font-family:  "Roboto", serif;
}

body {
  position: relative;
  background: $color-off-white;
}

img {
  width: 100%;
}

