@use "../../../../../../styles/_variables.scss" as *;

.price {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  margin-right: 20px;
  min-width: 70px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: var(--color-text-primary);
}

.input {
  padding: 8px 10px;
  border: 1px solid var(--color-input-border);
  border-radius: 4px;
  width: 210px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-text-primary);
  transition: border 0.3s ease;

  &_start {
    margin-right: 12px;
  }

  &:focus-visible {
    border: 1px solid var(--color-brand-active);
  }

  &::placeholder {
    color: var(--color-input-placeholder);
  }
}

@media (max-width: 366px) {
  .input:not(:last-child) {
    margin-bottom: 5px;
  }
}