@use "@/styles/variables" as *;

.main {
  padding-top: 150px;
}

.heading {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 44px;
  line-height: 48px;
  color: $color-primary;
}

.content {
  display: flex;
  min-height: 500px;
}