@use "@/styles/variables" as *;

.cart {
  padding-top: 120px;
}

.heading {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: $color-primary;
}

.amount {
  padding-left: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: $color-secondary;
}

.block {
  display: flex;
  min-height: 400px;
}

.main {
  margin-right: 20px;
  padding: 15px;
  width: 800px;
  border-radius: 20px;
  box-shadow: 1px 0 2px 0;
  background: $color-white;
}

.list {
  display: flex;
  flex-direction: column;
}

.payment {
  box-shadow: 1px 0 2px 0;
  width: 300px;
  border-radius: 20px;
  height: max-content;
  background: $color-white;

  &__main {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }

  &__info {
    margin-bottom: 20px;
  }

  &__heading {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: $color-secondary;
  }

  &__line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $color-primary;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &_main {
      margin-bottom: 15px;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__button {
    border-radius: 20px;
  }
}

.modul {
  padding: 15px;
  border-bottom: 2px solid $color-card-bg-skeleton;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: $color-primary;
}

.price__discount {
  color: $color-brand;
}

.modal {
  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
  }

  &__title {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: $color-primary;
  }

  &__price {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 32px;
    line-height: 36px;
    color: $color-brand;
  }

  &__actions {
    display: flex;
  }

  &__payment {
    margin-right: 15px;
  }

  &__cancle {
    outline: 1px solid $color-input-placeholder;
    background: transparent;
    color: $color-primary;
    transition: color 0.3s ease, outline 0.3s ease, background 0.3s ease;

    &:hover {
      color: $color-white;
      outline: 1px solid $color-brand-hover;
    }
  }
}