@import "../../../styles/_variables.scss";

.item {
  &:not(:last-child) {
    margin-right: 48px;
  }

  
}

.link {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: $color-header-link;
  transition: color 0.3s ease;

  &:hover, &:focus-visible {
    color: $color-header-link-hover;
  }

  &_active {
    color: $color-header-active;
  }
}