@use "@/styles/variables" as *;

.title {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  color: var(--color-text-primary);
}

@media (max-width: 410px) {
  .title {
    font-size: 28px;
    line-height: 32px;
  }
}